import /vendor.init.hi3635.rc
import /vendor.init.hisi.rc
import /vendor.init.audio.rc
import /vendor.init.connectivity.rc
import /vendor.init.device.rc
import /vendor.init.extmodem.rc
import /vendor.init.manufacture.rc
import /vendor.init.platform.rc
import /custom.init.mods.rc
import /custom.init.usb.rc
import /vendor.init.5844.rc
import /vendor.init.post-fs-data.rc

on init
	write /sys/touchscreen/easy_wakeup_gesture 1
	write /sys/devices/platform/huawei_touch/easy_wakeup_gesture 1